body{
background: linear-gradient(to right, pink, lightblue);

}

.container{
    text-align: center;
    margin: 0 auto;
    
}

input[type="text"]{
    width: 35%;
padding: 7px;

border: 1px solid black;
border-radius: 10px;

}

button{
width: 6%;
padding: 7px;
border-radius: 5px;
margin-left: 5px;
border-style: none;
cursor: pointer;
}

button:hover{

    background-color: lightblue;
    color: white;
}
 
#information {
    margin-top: 20px;
    text-align: left;
 
  }
  
  .movies {
   
    
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
width: 40%;
margin: 20px auto;
overflow: hidden;

  }
  
  .movies img {
height: auto;
    width: 150px;
   float: left;
    margin-right: 10px; 

 
  }
  
  .movies h2 {
    font-size: 18px;
    margin-top: 0;
   

  }
  
  .movies p {
    margin: 5px 0;
    
   
  }
  .release{
    font-weight: bold;
  }
.no{
  text-align: center;
}